# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [ ]:
def add_two(num):
    return num + 2

add_two(4)

In [3]:
square_nums(2)

8

In [4]:
(lambda num: num ** 2)(3)

9

In [ ]:
result = square_nums(2)

#### Saving to a Variable

In [5]:
square_nums = lambda x: x ** 2

In [6]:
square_nums(2)

4

In [7]:
square_nums(4)

16

In [8]:
square_nums(6)

36

#### Multiple Inputs

In [9]:
(lambda num1, num2, num3: num1 + num2 + num3)(4,5,6)

15

#### Passing a Lambda into a Function

In [16]:
def double_numbers(a_list):
    for i in range(len(a_list)):
        a_list[i] = a_list[i] * 2
    
    return a_list
    
double_numbers([1,2,3,4,5])

[2, 4, 6, 8, 10]

In [17]:
def half_numbers(a_list):
    for i in range(len(a_list)):
        a_list[i] = a_list[i] / 2
    return a_list
half_numbers([1,2,3,4,5])

[0.5, 1.0, 1.5, 2.0, 2.5]

In [18]:
def increment_numbers(a_list):
    for i in range(len(a_list)):
        a_list[i] = a_list[i] + 2
    return a_list
increment_numbers([1,2,3,4,5])

[3, 4, 5, 6, 7]

In [21]:
def modify_number(a_list, f):
    for i in range(len(a_list)):
        a_list[i] = f(a_list[i])
        
    return a_list

In [22]:
#double number

modify_number([1,2,3,4,5], lambda x: x * 2)

#half_number

modify_number([1,2,3,4,5], lambda x: x / 2)

#increment_number

modify_number([1,2,3,4,5], lambda x: x + 2)

[3, 4, 5, 6, 7]

In [23]:
#square
modify_number([1,2,3,4,5], lambda x: x ** 2 - 1 + 4)

[4, 7, 12, 19, 28]

4096

#### Returning a Lambda from a Function

In [28]:
lambda num1, num2: (num1 + num2 + 4) ** 2

In [29]:
lambda num1, num2: (num1 + num2 + 7) ** 3

In [31]:
def build_lambda(adder, power):
    return lambda num1, num2: (num1 + num2 + adder) ** power

In [32]:
(build_lambda(7,3))(4,5)

4096

#### If Statements within Lambdas

In [ ]:
a_list = [1,2,3,4,5]

modify_number(a_list, lambda x: x **2 if x %)

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [34]:
def anonymous(list_a, f):
    for i in range(len(list_a)):
        list_a[i] = f(list_a[i])
        
    return list_a
anonymous([1,2,3,4,5], lambda x: x ** 3)

[1, 8, 27, 64, 125]

In [35]:
f = lambda x: x ** 3
print(f(3))

27

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [36]:
a_list = [1,2,3,4,5]

print(list(map(lambda x: x * 2, a_list)))

print(list(map(lambda x: x * 3, a_list)))

print(list(map(lambda x: x * 4, a_list)))


print(list(map(lambda x: x ** 2, a_list)))

[2, 4, 6, 8, 10]
[3, 6, 9, 12, 15]
[4, 8, 12, 16, 20]
[1, 4, 9, 16, 25]

#### Using Lambda's with Map

In [ ]:
 print(list(map(lambda x: x ** 2, a_list)))

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [37]:
list_a = [5,10,15,20,25]

In [39]:
print(list(map(lambda x: x * 2 - 1, list_a)))

[9, 19, 29, 39, 49]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [41]:
a_list = [1,2,3,4,5,6,7,8,9,10]

list(filter( lambda num: num % 2 == 0, a_list))

[2, 4, 6, 8, 10]

In [42]:
def is_odd(num):
    if num % 2 == 0:
        return True
    else:
        return False
list(filter( is_odd, a_list))

[2, 4, 6, 8, 10]

#### Using Lambda's with Filter()

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [50]:
from statistics import mean


list_a = [1,2,3,4,5,6,7,8]

list(filter(lambda x:x >= mean(list_a),list_a))

[5, 6, 7, 8]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [52]:
#use reduce to find the sun of list
from functools import reduce

a_list = [1,2,3,4,5]

def add_nums(num1, num2):
    
    print(num1, num2)
    return num1 + num2


reduce(add_nums, a_list)

1 2
3 3
6 4
10 5

15

In [54]:
def multiply_nums(num1, num2):
    return num1 * num2
reduce(multiply_nums, a_list)

120

#### Using Lambda's with Reduce()

In [55]:
reduce(lambda num1, num2: num1 * num2, a_list)

120

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [56]:
a_list = [1,2,3,4,5]

reduce(lambda num1, num2: num1 - num2, a_list)

-13

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [57]:
10 * 9 * 8 * 7 * 6 * 5 * 4 * 3 * 2 * 1

3628800

In [59]:
def factorial(number):
    #base case
    if number <= 1:
        return number
    return number * factorial(number - 1)

In [60]:
factorial(5)

120

#### Writing a Factorial Function

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [68]:
def recursive_substraction(number):
    #base case
    if number <= 1:
        print('recursive_substraction(1) = 1')
        return number
    print(f'recursive_substraction({number}) = {number} - recursive_substraction({number - 1})')
    return number - recursive_substraction(number - 1)

In [69]:
recursive_substraction(5)

recursive_substraction(5) = 5 - recursive_substraction(4)
recursive_substraction(4) = 4 - recursive_substraction(3)
recursive_substraction(3) = 3 - recursive_substraction(2)
recursive_substraction(2) = 2 - recursive_substraction(1)
recursive_substraction(1) = 1

3

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [8]:
my_nums = list(range(1,100))

In [7]:
def sqrt_nums(a_list):
    for num in a_list:
        yield num ** .5

In [9]:
my_nums_sqrt = sqrt_nums(my_nums)

In [21]:
next(my_nums_sqrt)

3.3166247903554

In [25]:
my_nums_sqrt = list(sqrt_nums(my_nums))

In [26]:
next(my_nums_sqrt)

TypeError: 'list' object is not an iterator

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [27]:
def sqrt_nums(a_list):
    for num in a_list:
        yield num ** 2

In [29]:
my_nums_sqrt = sqrt_nums(my_nums)

In [40]:
next(my_nums_sqrt)

121

In [41]:
# for i in numbers_squared(10)
def num_sq(stop,start,step = 1):
    while start >= stop:
        yield start ** 2
        start -= step
for i in num_sq(0,start = 3):
    print(i)

9
4
1
0

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [69]:
str_list = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"] 

list(filter(None, places))
list(filter(str.strip, places))

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [3]:
import.re

SyntaxError: invalid syntax (3393444022.py, line 1)

In [4]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]



author = sorted(author, key=lambda x: x.upper().split()[-1])

print(author)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

[89.6, 53.6, 111.2, 84.2]

In [130]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

to_farh = lambda x: (x[0], (x[1] * 9/5 + 32))

places_temp = list(map(to_farh, places))

for i in places_temp:
    print(i)

('Nashua', 89.6)
('Boston', 53.6)
('Los Angelos', 111.2)
('Miami', 84.2)

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [5]:
def fib(n):
    if n == 0:
            return 0
    elif n == 1:
            return 1
    else:
            return fib(n-1) + fib(n-2)
for i in range(1,7):
    print(fib(i), end = "")

112358